<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <title>Present by vmuui.com 管理中心 - 添加营销网络</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
    <link href="__CSS__/main.css" type="text/css" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="__TOOL__/codebase/dhtmlxgrid.css">
    <script>var swfu,maxnum=5,webpath="/System.php?s=/System/Net/";</script>
    <script  src="/Public/jquery.js"></script>
    <script  src="/Public/jquery.form.js"></script>
    <script  src="__TOOL__/codebase/dhtmlxgrid.js"></script>
    <script type="text/javascript" charset="utf-8" src="__BEDITOR__/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__BEDITOR__/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="__BEDITOR__/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript" src="__JS__/swfupload.js"></script>
	<script type="text/javascript" src="__JS__/handlers.js"></script>
</head>
<body>
<!--顶部导航开始-->
<div class="topnav">
<a  href="/System.php?s=/System/ManagerPage/BaseInfo.html" class="home">首页</a>><a href="/System.php?s=/System/Net">营销网络列表</a>><a href="javascript:void(0)">添加营销网络</a>
</div>
<!--顶部导航结束-->
<div class="cont_info">
<div class="tab_txt">
<div class="tab_tit">添加营销网络</div>
	<form method="post" action="{:U('/System/Net/AddSave')}" id="form1" enctype="multipart/form-data">
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="info_tab">   
	<tr>
		<td align="right" style="width:23%">目录结构：</td>
		<td align="left"><select id="list1" name="list1" class="list1" >{$option}</select></td>
    </tr>
    <tr>
		<td align="right">营销网络名称：</td>
		<td align="left"><input type="text" class="input1" onFocus="this.className='input1-bor'" onBlur="this.className='input1'"  style="width:400px" id="newtitle" name="newtitle" /> <span style=" margin-left:5px; color:#F00; display:none" id="newtitle_tip">×标题不能为空</span></td>
    </tr> 
    <tr>
		<td align="right">发 布 人：</td>
		<td  align="left" style="height:30px"><input type="text" id="putman" name="putman" class="input1" onFocus="this.className='input1-bor'" onBlur="this.className='input1'"  style="width:240px;" value="{$Think.session.admin}" /></td>
    </tr>
    <tr>
		<td align="right">发布时间：</td>
		<td  align="left" style="height:30px"><input type="text" id="addtime" name="addtime" class="input1 calendar" onFocus="this.className='input1-bor calendar'" onBlur="this.className='input1 calendar'"  style="width:240px;" /></td>
    </tr>
  
    <tr>
		<td align="right">营销网络图片：</td>
		<td  align="left" style="height:30px"><input type="file" id="img" name="img" style=" height:30px;float:left" /></td>
    </tr>
    <tr>
		<td align="right">营销网络大图：</td>
		<td  align="left" style="height:30px"><input type="file" id="bigimg" name="bigimg" style=" height:30px;float:left" /></td>
    </tr>
    <tr>
		<td style="vertical-align:top"><div style="text-align:right; height:30px; line-height:30px">营销网络批量图：</div></td>
		<td  align="left">
        <div style="height:30px" class="pl_topdiv">
			<div style="float:left; height:25px; width:100px; margin-top:3px;"><span id="spanButtonPlaceholder"></span></div>
			<div id="divFileProgressContainer" class="pl_hit"></div>
            <div class="progressjd" id="progressjd"></div>
        </div>
		<div id="thumbnails">
        
				<ul id="pic_list" class="pic_list fixed"></ul>
       
		</div>
        <input type="hidden" name="pls" id="pls" value="|"/>
		</td>
    </tr>
    <tr>
		<td align="right">营销网络描述：</td>
		<td  align="left"><textarea class="input1" id="newdesc" name="newdesc" onFocus="this.className='input1-bor'" onBlur="this.className='input1'"  style="width:543px; height:68px" ></textarea></td>
    </tr>
	<tr>
		<td align="right" style="vertical-align:top; padding-top:5px">营销网络内容：</td>
		<td  align="left">
		<input type="hidden" id="Newcontent" name="Newcontent" value="" />
		<div style="width:555px; position:relative; z-index:1" id="editor"></div>      
		</td>
	</tr>
	<tr>
		<td align="right">页面标题：</td>
		<td align="left"><input type="text" class="input1" onFocus="this.className='input1-bor'" onBlur="this.className='input1'"  style="width:400px" id="page_tit" name="page_tit" /></td>
    </tr> 
	<tr>
		<td align="right">页面关键字：</td>
		<td  align="left"><textarea class="input1" id="page_key" name="page_key" onFocus="this.className='input1-bor'" onBlur="this.className='input1'"  style="width:543px; height:40px" ></textarea></td>
    </tr>
	<tr>
		<td align="right">页面描述：</td>
		<td  align="left"><textarea class="input1" id="page_desc" name="page_desc" onFocus="this.className='input1-bor'" onBlur="this.className='input1'"  style="width:543px; height:68px" ></textarea></td>
    </tr>
    <tr>
      <td align="right">是否显示：</td>
      <td  align="left" style="height:30px">
      	<input type="radio" id="putout1" name="putout" value="1" checked="checked" />是
      	<input type="radio" id="putout2" name="putout" value="0" style="margin-left:20px;" />否
      </td>
    </tr>   
	<tr>
      <td align="right">是否热点：</td>
      <td  align="left" style="height:30px">
      	<input type="radio" id="hot1" name="hot" value="1"  checked="checked" />是
      	<input type="radio" id="hot2" name="hot" value="0" style="margin-left:20px;"/>否
      </td>
    </tr>
	<tr>
      <td align="right">是否置顶：</td>
      <td  align="left" style="height:30px">
      	<input type="radio" id="top1" name="top" value="1" checked="checked"  />是
      	<input type="radio" id="top2" name="top" value="0" style="margin-left:20px;"/>否
      </td>
    </tr>
     
    <tr>
      <td align="right" height="50"></td>
      <td  align="left"><input type="button" class="btn" id="addsave" value="添加营销网络" style=" width:144px; height:30px" /> 
      </td>
    </tr>
  </table>
  </form>
  </div>
<div id="footer" class="info_foot">
	<script>document.write(cmsname)</script>
</div>
</div>

<script>
$(function(){
	UE.getEditor('editor')
 	new dhtmlXCalendarObject("addtime").loadUserLanguage('chinese');
	$("#addtime").val("{$data.time|default=time()|date='Y-m-d H:i:s',###}")
	$("#pls").val("|");
	swfu = new SWFUpload({
		upload_url: "{:U('/System/Net/Swfupload')}",
		post_params: {"cid": "8"},
		file_size_limit : "2 MB",
		file_types : "*.jpg;*.png;*.gif;*.bmp",
		file_types_description : "JPG Images",
		file_upload_limit : maxnum,
		file_queue_error_handler : fileQueueError,
		file_dialog_complete_handler : fileDialogComplete,
		upload_progress_handler : uploadProgress,
		upload_error_handler : uploadError,
		upload_success_handler : uploadSuccess,
		upload_complete_handler : uploadComplete,
		button_image_url : "__IMG__/swfupload/upload.png",
		button_placeholder_id : "spanButtonPlaceholder",
		button_width: 100,
		button_height: 25,
		button_text : '',
		button_text_style : '.spanButtonPlaceholder { font-family: Helvetica, Arial, sans-serif; font-size: 14pt;} ',
		button_text_top_padding: 0,
		button_text_left_padding: 0,
		button_window_mode: SWFUpload.WINDOW_MODE.TRANSPARENT,
		button_cursor: SWFUpload.CURSOR.HAND,			
		flash_url : "__IMG__/swf/swfupload.swf",
		custom_settings : {
			upload_target : "divFileProgressContainer"
		},				
		debug: false
	});
})	
$("#addsave").click(function(){
	$("#newtitle_tip").hide();
	if($("#newtitle").val().replace(/(^\s*)|(\s*$)/g, "").length==0){
		$("#newtitle_tip").show();
		alert("营销网络名称不能为空！");
		return false;	
	}
	$("#Newcontent").val(UE.getEditor('editor').getContent())
	$("#form1").ajaxSubmit({
		dataType:'json',
		success: function(d) {
			if(d["status"]["err"]==0){
				alert(d["status"]["msg"])
				window.location.href="/System.php?s=/System/Net"
			}else if(d["status"]["err"]==1){
				alert(d["status"]["msg"]);
				window.parent.location.href="{:U('/System/Index')}"
			}else{
				alert(d["status"]["msg"])	
			}
		},
		error:function(xhr){
			alert("保存失败！")
		}
	});
	return false;	
})
	
	
</script>


</body>
</html>
