<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Present by vmuui.com 管理中心 - 管理员管理</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
    <link href="__CSS__/main.css" type="text/css" rel="stylesheet">
	<link rel="STYLESHEET" type="text/css" href="__TOOL__/codebase/dhtmlxgrid.css">
	<script  src="/Public/jquery.js"></script>
	<script  src="__TOOL__/codebase/dhtmlxgrid.js"></script>
	<script type="text/javascript" src="__TOOL__/page/jquery.pagination.js"></script>
	<script  src="__JS__/System.js"></script>
<style>
     body{ overflow-y:hidden}
</style>
</head>
<body>
<!--顶部导航开始-->
<div class="topnav">
<a href="/System.php?s=/System/ManagerPage/BaseInfo.html" class="home">首页</a>><a href="/System.php?s=/System/SmsAll">推送管理</a>><a href="javascript:void(0)">推送列表</a>
</div>
<!--顶部导航结束-->
<div class="cont_info">

<div class="tab_txt">
<div class="tab_tit">推送列表</div>

<div class="meun_tab">

  <table  width="95%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="30" align="center"><img src="__IMG__/icon_search.gif" width="26" height="22"></td>
      <td width="60" align="right">关键字：</td>
      <td style="width:170px; text-align:center">
        <input name="Input" class="input1" id="keywords" onFocus="this.className='input1-bor'" onBlur="this.className='input1'" style="width:150px; height:18px; line-height:18px"/></td>
        <td align="left">
        <input name="button" type="button" class="btn" style="width:55px"  value="查询" id="search" onclick="searchitem()" /></td>
      <td  align="right">
      	<input name="button" type=button class="btn" onClick="delete_items()" value="删除选中" />&nbsp;<input name="button" type=button class="btn" onClick="gotoSmsAdd()" value="添加信息" />
        </td>
    </tr>
  </table>
</div>
<div class="db_div" >
<div id="gridbox" width="100%"></div>
</div>
<div id="setpage" class="paged" >
</div>
</div>
<DIV id="DIV1" class="info_foot">
  Action Info: <span id=act_info style="display:inline"></span>
</DIV>
</div>
<script>
	$("#keywords").val("");
var	myGridmode='/System.php?s=/System/SmsAll/', //模块地址
	myGrid = new dhtmlXGridObject('gridbox');
	myGrid.setImagePath("__GRIDIMG__");
var	myGridnum=6; //选中框所在的下标
	myGrid.setHeader("ID,标题,目标,启用,推送时间,编辑,<a href='javascript:void(0)' onclick='chk_all()'>全选 </a>");
	myGrid.setInitWidths("80,*,100,80,160,100,80");
	myGrid.setColAlign("center,left,center,center,center,center,center");
	myGrid.setColTypes("ro,ro,ro,ch,ro,link,ch");
	myGrid.setColSorting("int,str,,str,str,str,str,str");
	myGrid.init();
	myGrid.attachEvent("onCheckbox",doOnCheckEdit);
function gotoSmsAdd(){
	window.location.href="{:U('/System/SmsAll/AddRead')}";
} 
</script>
</body>
</html>
