<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Present by vmuui.com 管理中心 - 会员管理</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
    <link href="__CSS__/main.css" type="text/css" rel="stylesheet">
	<link rel="STYLESHEET" type="text/css" href="__TOOL__/codebase/dhtmlxgrid.css">
	<script  src="/Public/jquery.js"></script>
	<script  src="__TOOL__/codebase/dhtmlxgrid.js"></script>
	<script type="text/javascript" src="__TOOL__/page/jquery.pagination.js"></script>
	<script  src="__JS__/System.js"></script>
<style>
     body{ overflow-y:hidden}
</style>
</head>
<body>
<!--顶部导航开始-->
<div class="topnav">
<a href="/System.php?s=/System/ManagerPage/BaseInfo.html" class="home">首页</a>><a href="/System.php?s=/System/UserAll">会员信息</a>><a href="javascript:void(0)">会员管理</a>
</div>
<!--顶部导航结束-->
<div class="cont_info">

<div class="tab_txt">
<div class="tab_tit">会员管理</div>

<div class="meun_tab">

  <table  width="95%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="30" align="center"><img src="__IMG__/icon_search.gif" width="26" height="22"></td>
      <td width="60" align="right">关键字：</td>
      <td style="width:170px; text-align:center">
        <input name="Input" class="input1" id="keywords" onFocus="this.className='input1-bor'" onBlur="this.className='input1'" style="width:150px; height:18px; line-height:18px"/></td>
        <td align="left">
        <input name="button" type="button" class="btn" style="width:55px"  value="查询" id="search" onclick="searchitem()" /></td>
      <td  align="right">
        </td>
    </tr>
  </table>
</div>
<div class="db_div" >
<div id="gridbox" width="100%"></div>
</div>
<div id="setpage" class="paged" >
</div>
</div>
<DIV id="DIV1" class="info_foot">
  Action Info: <span id=act_info style="display:inline"></span>
</DIV>
</div>
<script>
	$("#keywords").val("");
var treeitem={$menu};
var	myGridmode='/System.php?s=/System/UserAll/', //模块地址
	myGrid = new dhtmlXGridObject('gridbox');
	myGrid.setImagePath("__GRIDIMG__");

var	myGridnum=7; //选中框所在的下标
	myGrid.setHeader("ID,隶属组,手机号,昵称,注册时间,最后登录,启用,编辑");
	myGrid.setInitWidths("80,*,*,120,160,160,80,80");
	myGrid.setColAlign("center,left,left,left,center,center,center,center");
	myGrid.setColTypes("ro,co,ed,ro,ro,ro,ch,link");
	myGrid.setColSorting("int,str,str,str,str,str,str,str");
	for(var i=0;i<treeitem.length;i++){
		myGrid.getCombo(1).put("-"+treeitem[i]["val"]+"-",treeitem[i]["text"]);	
	}
	myGrid.attachEvent("onEditCell",doOnCellEdit);
	myGrid.attachEvent("onCheckbox",doOnCheckEdit);

	myGrid.init();
	
</script>
</body>
</html>
