<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head >
    <title>Present by vmuui.com 管理中心 - 收录地址</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__CSS__/main.css" type=text/css rel=stylesheet>
    <script  src="/Public/jquery.js"></script> 
    <style>
    .seo_desc{background: #F2F2F2; border: 1px solid #AAAAAA; color: #666666;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius:4px; margin-top:10px; margin-bottom:20px; padding:20px; text-align:left; line-height:25px; margin-left:5px; margin-right:auto}

    </style>
</head>
<body>
<!--顶部导航开始-->
<div class="topnav">
<a href="/System.php?s=/System/ManagerPage/BaseInfo.html" class="home">首页</a>><a href="/System.php?s=/System/ManagerPage/UserAg">商务引擎</a>><a href="javascript:void(0)">收录地址</a>
</div>
<!--顶部导航结束-->
<div class="cont_info">
<div class="tab_txt" style="padding-bottom:30px">
<div class="tab_tit">收录地址</div>
<table  style="width:90%" border="0" align="center">
	<tr>
	<td colspan="3" style="padding-top:30px"><div class="seo_desc" style="width:60%; margin-left:auto; margin-right:auto">将您的网站登记到各大搜索引擎中，将非常有利于您网店的推广。<br>以下是常见搜索引擎的登记入口，打开后填写您的网站资料即可能被这些搜索引擎收录。</div>
	</td>
	</tr>
	<tr>
	<td align="right" width="32%">免费登陆Google搜索引擎</td>
            <td height="35"  width="25%">
                <font color="#ff0000">推荐程度：★★★★★</font></td>
            <td height="35" >
          <input
                    type="button" class="btn" onClick="window.open('https://www.google.com/webmasters/tools/submit-url','blank_','scrollbars=yes,resizable=yes,width=650,height=450')" value="我要去登记" /></td>
        </tr>
        <tr>
            <td height="35"  align="right">
               免费登陆BaiDu搜索引擎</td>
            <td height="35" >
                <font color="#ff0000">推荐程度：★★★★★</font></td>
            <td height="35" >
          <input
                    type="button" class="btn" onClick="window.open('http://www.baidu.com/search/url_submit.html','blank_','scrollbars=yes,resizable=yes,width=650,height=450')" value="我要去登记" /></td>
        </tr>
        <tr>
            <td height="35"  align="right">
                免费登陆360搜索引擎</td>
            <td height="35" >
                <font color="#ff0000">推荐程度：★★★★</font>★</td>
            <td height="35" >
          <input
                    type="button" class="btn" onClick="window.open('http://info.so.360.cn/site_submit.html','blank_','scrollbars=yes,resizable=yes,width=650,height=450')" value="我要去登记" /></td>
        </tr>
        <tr>
            <td height="35"  align="right">
              免费登陆SouGou搜索引擎</td>
            <td height="35" >
                <font color="#ff0000">推荐程度：★★★★</font>★</td>
            <td height="35" >
          <input
                    type="button" class="btn" onClick="window.open('http://fankui.help.sogou.com/index.php/web/web/index?type=1','blank_','scrollbars=yes,resizable=yes,width=650,height=450')" value="我要去登记" /></td>
        </tr>
        <tr>
            <td height="35" align="right">
                免费登陆Bing搜索引擎</td>
            <td height="35" >
                <font color="#ff0000">推荐程度：★★★★</font>★</td>
            <td height="35" >
          <input
                    type="button" class="btn" onClick="window.open('http://www.bing.com/toolbox/submit-site-url','blank_','scrollbars=yes,resizable=yes,width=650,height=450')" value="我要去登记" /></td>
        </tr>
      
  </table>



</div>
<div id="footer" class="info_foot">
   <script>document.write(cmsname)</script>
</div>
</div>
</body>
</html>
